body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sitemap-list {
  list-style: none;
  padding: 0;
}

.sitemap-list > li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sitemap-list > li + li {
  margin-top: 24px;
}

.sitemap-list .sitemap-item-title {
  font-weight: bold;
  font-size: 1.2em;
}

.sitemap-list > li .sitemap-param-list > li + li {
  margin-top: 8px;
}
